.card{
    position: relative;
    background-color: white;
    width: 600px;
    height: 60vh;
    max-width: 85vh;
    padding: 10px;
    box-shadow: 0px 20px 40px 0px rgba(252, 3, 3, 0.7);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}
.tinderCards__cardsContainer{
display: flex;
justify-content: center;
margin-top: 5vh;
}
.swipe{
    position: absolute;
}
